.about {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 1rem;

    &_title {
    }

    .blank {
        flex: 1 1 auto;
        margin: auto;
        // width: 80%;
        overflow-y: auto;

        //Hide scrollbar
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;

        @include flexColumn;
        .blank__top,
        .blank__bottom {
            padding: 2rem 3.5rem;
            // box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 5px;
        }

        .blank__top {
            margin-bottom: 2rem;
            @include flexCenter;

            .container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                gap: 5rem;
            }

            .grid-block {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem 5rem;
                white-space: pre;

                &--links {
                    grid-row: 1/5;
                }

                @include respond(600) {
                    gap: 2rem;
                }
            }
        }

        .blank__bottom {
            line-height: 2.5rem;
            font-size: 1.7rem;

            .row-content {
                display: grid;
                grid-template-columns: 1fr 5fr;
                gap: 1fr 2rem;
                margin-bottom: 2rem;

                @include respond(1200) {
                    grid-template-columns: 1fr;
                }
            }

            .courses {
                .course-name {
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    gap: 2rem;
                }
            }
        }
    }
}
