.App {
	height: 100vh;
	width: 100vw;
	background-image: url(../assets/workbench/back.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	display: inline-grid;
	grid-template-rows: 8rem auto;
	justify-content: center;

	
}
