* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	text-rendering: optimizeLegibility;
	color: #fff;
}

body {
	font-family: "Lato", "Verdana", sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&::-webkit-scrollbar {
		display: none;
	}
	user-select: none;
}

h1 {
	@include colorGradient(400);
	font-size: 6rem;
	font-weight: 400;
	margin-top: 2rem 0;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
}
