* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;


	//Hide scrollbar
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;

	// user-select: none;
}
