
html,
body {
	text-rendering: optimizeLegibility;
	color: #fff;
}


h1 {
	@include colorGradient(400);
	font-size: 6rem;
	font-weight: 400;
	margin-top: 2rem 0;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
}

ion-icon {
	//FOR CUSTOM ICONS

	&[name="arrow-forward"],
	&[name="arrow-back"] {

		color: red;
	}
}
