.MainContainer {
	width: $main-width;
	flex: 1;
	align-self: center;
	display: flex;

	& > div {
		flex: 1 0;
		animation: AnimatedContent 3s ease forwards;
	}
	@keyframes AnimatedContent {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			visibility: visible;
		}
	}
}
