@mixin colorGradient($color-gradient) {
	background-image: $color-gradient;
	-webkit-background-clip: text;
	color: transparent;
}


// Flex positions

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexEnd {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flexAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@mixin flexStartCenter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/////////////////////////////

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin flexColumnStart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

@mixin flexColumnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flexColumnStartCenter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

@mixin flexColumnCenterStart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@mixin flexColumnBetween {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
