@keyframes displayBlock {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@mixin colorGradient ($fontWeight) {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #FDC830, #F37335);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: $fontWeight;
}