@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@mixin colorGradient($fontWeight) {
	display: inline-block;
	background-image: linear-gradient(to right bottom, #fdc830, #f37335);
	-webkit-background-clip: text;
	color: transparent;
	font-weight: $fontWeight;
}
