.title {

    .greeting{
        margin: 2rem 0;
    }
    margin-bottom: 3rem;
    width: 60vw;

    &_bottom{
        margin: auto;
        display: block;
        width: 100%;

        &--span {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
}