.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

.poweredby {
    display: flex;
    align-items: center;

    .react-power {
        height: 3rem;
        margin-bottom: 0.5rem;
    }

    .react-logo {
        height: 2rem;
        margin-left: 0.5rem;
    }
}
