.ProjectWall {
	position: relative;
	height: 100%;
	transition: 2s;
	display: inline-grid;
	grid-template-rows: 1fr 65rem;

	&__title {
		// align-self: center;
	}

	&__man {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 50%;
		width: auto;
		transition: 1s;
		// display: none; //!
	}

	&:hover {
		transform: scale3d(1.5, 1.5, 1);

		.ProjectWall__title {
			opacity: 0;
			visibility: hidden;
		}
		.ProjectWall__man {
			opacity: 0;
			visibility: hidden;
		}
	}
}
