.ProjectWall {
	height: 100%;
	background-image: url(../../assets/workbench/back.png);
	background-size: cover;
	background-position: center;
	@include flexCenter;
	transition: 2s;

	&_slider {
		position: relative;
		height: 40rem;
		width: 82rem;
		padding: 1.1rem;
		background-image: url(../../assets/workbench/frame-perspective.png);
		background-size: cover;
		background-position: center;
		backface-visibility: hidden;

		&--box {
			height: 100%;
			width: 100%;
			overflow: hidden;
			@include flexCenter;
		}
	}

	&_man {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 50%;
		width: auto;
		transition: 1s;
	}

	&:hover {
		transform: scale3d(1.3, 1.3, 1);
		.ProjectWall_man {
			opacity: 0;
		}
	}
}



