.CustomIcon {
	font-size: 2.5rem;
	cursor: pointer;
	padding: 0.5rem;
}

ion-icon {
	//FOR CUSTOM ICONS
	&[name="ios-arrow-back"],
	&[name="ios-arrow-forward"] {
		font-weight: thin;
		font-size: 4rem;
		color: rgba(255, 255, 255, 0.5);
	}
}
