.Content_container {
    display: flex;
    justify-content: center;
      
}
.Content_container--hide{
    display: none;
}

.Content {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 99%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    animation: slide-down 0.9s ease;
    font-size: 1.8rem;
    padding: 0;

    .pic {
        width: 62%;
        margin: 0 0.8rem;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .text {
        width: 35%;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inline-text {
            @include colorGradient(700);
        }
    }
}